.radio {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
	font-size: 1.4rem;
	font-family: inherit;
	position: relative;

	&__label {
		font-size: inherit;
		font-family: inherit;
		margin-right: 2rem;
		cursor: pointer;
		
		display: flex;
    align-items: center;
	}
	
	&__input {
		margin: 0 0 0 1rem;
		cursor: pointer;
	}

	&__error {
		position: absolute;
		top: 100%;
		left: 0;
		color: var(--base-red);
	}
}