:root {
	--base-white: #fff;
	--base-blue: #0070f3;
	--base-red: #e33a3a;
	--base-grey: #808080;
	--grey-dark: #2B222A;
	--light-grey: #d0dcf7;
	// --bg-color: #363434;
	--bg-color: #121212;
	--border-color: #eaeaea;
	// nav
	--base-pink: #e83e8c;
}